<div class="BurgerPast">
  <div class="container">
    <div class="row">
      <div class="col-5">
        current 
      </div>
      <div class="col-2">
        Add buttons to devor 
      </div>
      <div class="col-5">
        old
      </div>
    </div>
  </div>
</div>
<div class="newBurger">
  <div class="container">
    <div class="row">
      <div class="col-6 justify-content-center">
        <textarea name="newBurgerIteam" cols="30" rows="10" placeholder="Enter your Burger"></textarea>
        <button type="button" class="btn btn-primary submit">submit</button>
      </div>
    </div>
  </div>
</div>
