<body>

  <div class="backgroundInfo align-center">
    <h1 class="title">WELCOME TO THE KRUSTY KRAB!</h1>

    <div class="centerInfo">

      <div class="container" id="burgerStats">
        <div class="row">
          <div class="col-6">
            <div class="jumbotron-1">
              <h2>Burgers not yet been devoured!</h2>
              <ul>
                {{#each burgers}}
                {{#unless devoured}}
                {{> burgers/burger-block devoured=true}}
                {{/unless}}
                {{/each}}
              </ul>
            </div>
          </div>

          <div class="col-6">
            <div class="jumbotron-2">
              <h2>Burgers eatten!</h2>
              <ul>
                {{#each burgers}}
                {{#if devoured}}
                {{> burgers/burger-block devoured=false}}
                {{/if}}
                {{/each}}
              </ul>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-12 justify-content-center newBurger">

            <h2 class="formtitle">Add a Burger</h2>
            <form class="create-form">

              <div class="form-group">
                <label for="newBurger">Burger Name:</label>
                <input type="text" id="newBurger" name="burger_name">
              </div>

              <div class="form-group">
                <label for="devoured">Devoured?</label><br>
                <input type="radio" name="devoured" value="1" class="devoredButton" checked> Devoured!<br>
                <input type="radio" name="devoured" value="0" class="devoredButton"> Uneaten
              </div>

              <button type="submit">Add Burger</button>
            </form>

          </div>
        </div>
       </div>

    </div>


  </div>

</body>