body{
  background-color: black;
  font-family: 'Jura', sans-serif; ;
  background-image:url('../../images/burgerBackground.jpg');
  max-width: 99%;
  max-height: 99%;
  z-index: 2;
  

}
h1{
  color: white;
  font-size: 30px;
  text-align: center;
  padding-left:350px;
  text-shadow: 2px 2px 3px rgb(94, 240, 155);
}

.centerInfo{
  padding-left:350px

}

#content{
  background: linear-gradient(rgb(39, 194, 163), rgb(232, 28, 184));
  z-index: 2;
}
#burgerStats{
  
  background: linear-gradient(rgb(39, 194, 163), rgb(232, 28, 184));
  border:thick double rgb(249, 249, 249);
  
}

.label {
  font-weight: bold;
}
#notEat{
  border-right:thick double rgb(249, 249, 249);
}

.create-update-form {
  padding: 5px;
  margin: 5px;
  background: aqua;
}
.newBurger{
  background-color: rgb(232, 28, 184);
  border:thick double rgb(249, 249, 249);
  border-top: 0px;
  text-align: center;
  color: white;
  width: 80%;

}
.form-group {
  margin-bottom: 5px;
}
.centerInfo{
  border: 1em teal;
}

@media screen and (min-width: 900px) {
  article {
    padding: 1rem 3rem;
  }
}

/* Nested within another conditional at-rule */
@supports (display: flex) {
  @media screen and (min-width: 900px) {
    article {
      display: flex;
    }
  }
}