body{
  background-color: black;
  font-family: 'Jura', sans-serif; ;
}
h1{
  color: white;
  font-size: 50px;
  text-align: center;
}
.backgroundInfo{
  background-image:url('/../public/images/burgerBackground.png');
  background-repeat: no-repeat;
}

#burgerStats{
  background-color: rgb(85, 211, 211);
  
}

.title{
  font-size: larger;

}
.label {
  font-weight: bold;
}

.create-update-form {
  padding: 5px;
  margin: 5px;
  background: aqua;
}
.newBurger{
  background-color: fuchsia;
  text-align: center;
  color: white;
  width: 80%;

}
.form-group {
  margin-bottom: 5px;
}
.centerInfo{
  border: 1em teal;
}