<li>
	{{burger_name}}

	{{#if devoured}}
	<button class="change-status" data-id="{{id}}" data-yum="{{devoured}}">
	DEVOURED</button> 
	{{/if}}


	<button class="delete-burger" data-id="{{this.id}}">DELETE!</button>
</li>
